button{
  background: var(--dark-cyan);
  color: var(--white);
  border: none;
  border-radius: 0.25rem;
  text-align: center;
  width: 100%;
  font-size: 1.3rem;
  padding: .5rem;
}

button:active{
  background-color: var(--active-btn);
  color: var(--dark-cyan);
}



